:root {
  --main-bg-color: #b9b9b9;
  --main-font-color: #272727;
  --head-line-color: #515151;
  --main-color: #f75a21;
  --first-item: #ff7322;
  --second-item: #f0581c;
  --third-item: #ac3d36;
  --btn-color: #ac3d36;
}
@font-face {
  font-family: "text";
  font-display: swap;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: "title";
  font-display: swap;
  src: url(Montserrat-Bold.ttf);
}

body {
  background-color: var(--main-bg-color);
  margin: 0px;
  font-family: "text";
  color: var(--main-font-color);
}
.container {
  display: grid;
  padding-left: 30px;
}
.btn {
  background-color: var(--btn-color);
  border: none;
  border-radius: 6px;
  width: max-content;
  color: white;
  padding: 6px;
  font-size: 3vh;
  font-family: "title";
}

/* #region кнопка На главную */
/* .back {
  display: none;
} */
#back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--btn-color);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 12px 6px;

  font-size: 120%;
  font-family: "title";

  position: fixed;
  left: 0;
  /* top: 250px; */
  top: 40%;
  margin-top: -0.625em;

  cursor: pointer;

  width: 25px;
  min-height: 125px;
  max-height: max-content;

  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);

  transform: rotate(180deg);
  z-index: 10;
  transition: 0.3s ease;
  cursor: pointer;
}
.hidden_back {
  display: none;

  
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--btn-color);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 12px 6px;

  z-index: 10;
  transition: 0.3s ease;
  cursor: pointer;

  width: max-content;
  max-height: max-content;
}
#back > a,
.hidden_back > a {
  color: white;
  text-decoration: none;
}
.back:hover,
#back:hover,
.hidden_back:hover {
  background-color: var(--third-item);
}
.previos {
  background-color: var(--main-color);
  border-radius: 100%;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 10px;
  right: 7.2%;

  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;

  /* position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--main-color);
  top: -20px;
  right: -20px;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer; */
}

/* #endregion */
/* #region Заголовок вкладок */
.head,
.text {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  font-size: 3vh;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 95% 5%;
  justify-content: space-between;
  align-items: center;
}
#theme {
  margin: 0px;
  color: var(--head-line-color);
}
#title {
  margin: 0px;
  font-size: 2.5vh;
}
.icon {
  width: 7vh;
  height: 7vh;
  transition: 0.3s;
}
.icon:hover {
  cursor: pointer;
  scale: 1.1;
}

.tabs {
  padding: 10px 100px 10px 70px;
  height: 600px;
}

/* #endregion */
/* #region основной блок вкладок */
.moves {
  display: flex;
  justify-content: space-between;
  position: static;
  padding-bottom: 15px;
  padding-top: 15px;
}
.tab-header_btn {
  font-family: "text";
}


/* #region Работа с видео */
.video_lection {
  display: grid;
  justify-items: center;
  align-items: center;
  /* height: 10%; */
  width: 100%;
  padding: 50px 0px 35px 0px;
}
#video {
  width: 100%;
  /* height: 450px; */
  border-radius: 5px;
  margin: 2px;
}
/* #endregion */
.main {
  z-index: 1;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  /* min-height: 69vh; */
  max-height: max-content;
  /* max-width: 400px; */
  /* padding: 30px; */
  background-color: white;
}
.sublayers {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.info {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: unset;
}
.main_bg,
.hover_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hover_img{
  /* padding: 30px; */
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.hide {
  display: none;
}
.content {
  margin-bottom: 100px;
 height: 100%;
  /* max-height: 500px; */
  position: relative;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;

  overflow-y: auto;
  overflow-x: hidden;
}
.article_title {
  position: sticky;
  top: 0;
  padding-right: 45px;
}
.article_title > h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 20px;
  color: var(--btn-color);
}
/* #region Редактор прокрутки окна */
.article::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.article::-webkit-scrollbar-thumb {
  margin-right: 10px;
  border-radius: 5px;
  background-color: var(--head-line-color);
}
.article::-webkit-scrollbar-track {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #d5d5d5;
}
/* #endregion */
.article {
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}


.imgs, .imgs_vetical {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1%;
  justify-content: center;
  padding: 5px;
}
.imgs_vetical{
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 0;
}
.imgs > img, .imgs_vetical>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* #endregion */
