:root {
  --main-bg-color: #b9b9b9;
  --main-font-color: #272727;
  --head-line-color: #515151;
  --main-color: #f75a21;
  --first-item: #ff7322;
  --second-item: #f0581c;
  --third-item: #ac3d36;
  --btn-color: #ac3d36;
  --line-item-font-size: 19px;
  --main_font_size: 30px;
  --middle-font-size:16px;
}
@font-face {
  font-family: "text";
  font-display: swap;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: "title";
  font-display: swap;
  src: url(Montserrat-Bold.ttf);
}

body {
  background-color: var(--main-bg-color);
  margin: 0px;
  font-family: "text";
  color: var(--main-font-color);
}

/*  #region Header */
.header {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  /* max-width: 1440px; */
}
#info {
  display: flex;
  margin-left: 5%;
  align-items: center;
}
.head {
  position: relative;
  left: -2%;
  font-size: var(--main_font_size);
  font-family: "title";
}
.head_item {
  border-left: 4px solid var(--head-line-color);
  padding: 8px;
  width: 50%;
  /* max-width: 180px; */
  font-size: var(--middle-font-size);
  transition: 0.3s;
}
.head,
.head_item {
  margin-bottom: 5px;
}
.head_item:hover {
  cursor: pointer;
  color: white;
}
/* #endregion */
/*  #region Title */
.title {
  background-color: white;
  border-top: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-left: 5%;
}
.title > h3 {
  font-size: var(--main_font_size);
  margin: 15px;
}
#theme {
  color: var(--head-line-color);
}
/* #endregion */
/*  #region Main */
.main {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 2%;
  gap: 20px;
  align-items: start;
}
.items {
  display: grid;
  padding-left: 20px;
  gap: 3%;
  align-items: center;
}

#first,
#first::after,
#line_first::before,
#line_first::after {
  background-color: var(--first-item);
 
}
#second,
#second::after,
#line_second::before,
#line_second::after {
  background-color: var(--second-item);
  
}
#third,
#third::after,
#line_third::before,
#line_third::after {
  background-color: var(--third-item);
}
#line_first{
 border-color: var(--first-item);
}
#line_second{
border-color: var(--second-item);
}
#line_third{
border-color: var(--third-item);
}


.line_item {
  border: 4px solid ;
  width: 100%;
  min-height: 150px;
  height: 100%;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
.line_item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 104%;
  left: -20px;
  top: -4px;
}
.line_item::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 104%;
  right: -55px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  top: -4px;
}
.ssilka {
  width: 20%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  text-align: left;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.ssilka:hover {
  cursor: pointer;
}
.ssilka::after {
  content: "";
  height: 100%;
  width: 150px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  right: -150px;
  top: 0;
  z-index: 0;
}
.title_item {
  color: #fff;
  font-size: var(--line-item-font-size);
  font-family: "text";
  word-wrap: break-word;
}
.img_item {
  width: 80%;
  height: 60%;
  margin: 10%;
}
.img {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  right: -130px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.righ {
  height: 90%;
  width: 70%;
  padding: 15px 5px 15px 160px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 0px;
  top: -5%;
  align-items: center;
}
.text {
  -webkit-flex: 1 1;
  flex: 1 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.text > h4 {
  margin: 0px 0px 20px;
  font-size: var(--line-item-font-size);
}
.pod {
  color: var(--head-line-color);
}
.icon:hover {
  scale: 1.1;
  cursor: pointer;
  transition: 0.3s;
}
#doc,
#doc_2,
#doc_3 {
  width: 50px;
  height: 50px;
}
#play {
  width: 40px;
  height: 40px;
}
/* main_dop */
.main_dop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-left: 10%;
  color: var(--head-line-color);
}
.logo_line,
.logo_noline {
  font-family: "title";
  margin: 10px;
  display: flex;
}
.logo {
  width: 65%;
}
.logo_noline {
  font-size: 25px;
}
.logo_line {
  font-size: var(--main_font_size);
  border-bottom: 4px solid var(--head-line-color);
  width: max-content;
}
/* #endregion */
/* #region таблица Ключевые слова */
table.iksweb {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  margin-top: 10px;
}
table.iksweb,
table.iksweb td,
table.iksweb th {
  border: 1px solid #595959;
}
table.iksweb td,
table.iksweb th {
  padding: 3px;
  width: 30px;
  height: 35px;
}
table.iksweb th {
  background: #347c99;
  color: #fff;
  font-weight: normal;
}
/* #endregion */
