:root {
  --main-bg-color: #b9b9b9;
  --head-line-color: #515151;
  --main-font-color: #272727;
  --main-color: #f75a21;
  --first-item: #fd642c;
  --second-item: #c64f23;
  --third-item: #ae3f17;
}
@font-face {
  font-family: "text";
  font-display: swap;
  src: url(OpenSans-Medium.woff);
}
@font-face {
  font-family: "title";
  font-display: swap;
  src: url(OpenSans-Bold.woff);
}
body {
  background-color: var(--main-bg-color);
  margin: 0px;
  font-family: "text";
  color: var(--main-font-color);
}
.container {
  display: grid;
  padding-left: 30px;
}
.btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 6px;
  width: max-content;
  color: white;
  padding: 6px;
  font-size: 3vh;
  font-family: "title";
}

/* #region кнопка На главную */
.back {
  display: none;
}
#back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--main-color);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 12px 6px;

  font-size: 120%;
  font-family: "title";

  position: absolute;
  left: 0;
  /* top: 250px; */
  top: 40%;
  margin-top: -0.625em;

  cursor: pointer;

  width: 25px;
  min-height: 125px;
  max-height: max-content;

  color: #fff;

  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);

  transform: rotate(180deg);
  z-index: 10;
  transition: 0.3s ease;
}
#back > a {
  color: white;
  text-decoration: none;
}
.back:hover,
#back:hover,
.tab-header_btn:hover {
  cursor: pointer;
  background-color: var(--third-item);
}

/* #endregion */
/* #region Заголовок вкладок */
.head,
.text {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  font-size: 3vh;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 90% 5% 5%;
  justify-content: space-between;
  align-items: center;
}
#theme {
  margin: 0px;
  color: var(--head-line-color);
}
#title {
  margin: 0px;
  font-size: 2.5vh;
}
.icon {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.icon:hover {
  cursor: pointer;
  scale: 1.1;
}

.tabs {
  padding: 10px 100px 10px 70px;
  height: 600px;
}

/* #endregion */
/* #region основной блок вкладок */
.tasks {
  display: grid;
  justify-items: center;
  align-items: center;
  /* height: 10%; */
  width: 100%;
  padding: 50px 0px 100px 0px;
  gap: 5%;
}
.task {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 3vh;
  display: flex;
  width: 70%;
}
/* #region Кастом радиокнопок */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: 0.5s;
}
label:hover {
  cursor: pointer;
}
.custom-radio:hover {
  cursor: pointer;
}
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #191616;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--main-color);
}
.custom-radio:checked + label::before {
  background-image: url(radioButton.png);
  background-size: cover;
  border-color: #191616;
}
/* #endregion */
.moves {
  display: flex;
  justify-content: space-between;
  position: static;
  padding-bottom: 15px;
  padding-top: 15px;
}
.tab-header_btn {
  font-family: "text";
}
.tab-body__item {
  display: none;
  /* height: 450px; */
}
.active {
  display: block;
}
.video_lection {
  display: grid;
  justify-items: center;
  align-items: center;
  /* height: 10%; */
  width: 100%;
  padding: 50px 0px 35px 0px;
}
#video {
  width: 100%;
  /* height: 450px; */
  border-radius: 5px;
  margin: 2px;
}
.virt {
  background-color: white;
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 5px;
  height: 85%;
  padding: 30px;
  overflow: scroll;
}
/* #region Редактор прокрутки модального окна */
.virt::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.virt::-webkit-scrollbar-thumb {
  margin-right: 10px;
  border-radius: 5px;
  background-color: var(--head-line-color);
}
.virt::-webkit-scrollbar-track {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #d5d5d5;
}
/* #endregion */
.main_pic {
  object-fit: cover;
  width: 90%;
  height: 80%;
  border: 1px solid #bbbbbb;
}
.virt_text {
  margin: 0px;
}
/* #endregion */
/*  #region ModaWindows */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.34);
}
.modal_main {
  position: relative;
  top: 50px;
  max-width: 1092px;
  height: 490px;
  padding: 30px;
  background-color: #fefefe;
  display: block;
  margin: auto;
  overflow: scroll;
  border: 5px solid var(--main-color);
  border-radius: 15px;
  font-family: "text";
}

/* Редактор прокрутки модального окна */
.modal_main::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.modal_main::-webkit-scrollbar-thumb {
  margin-right: 10px;
  border-radius: 5px;
  background-color: var(--head-line-color);
}
.modal_main::-webkit-scrollbar-track {
  margin-right: 10px;
  border-radius: 10px;
  background-color: #d5d5d5;
}
.modal__close {
  display: flex;
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 8vh;
  color: var(--main-color);
  height: 30px;
  width: 30px;
  /* border-radius: 50%; */
}

.modal__close:hover {
  color: var(--third-item);
}
.modal__title {
  font-size: 4.5vh;
  margin-top: 0px;
  font-family: "title";
}
.modal_text {
  font-size: 2.5vh;
}
/* #endregion */
