@media screen and (max-width: 768px) {
    .container{
        padding: 30px;
    }
    #back{
        display: none;
    }
    /* #region Заголовок вкладок */
    .tabs{
        padding: 0px;
    }
    .head{
        font-size: 4.5vh;
    }
    .text{
        grid-template-columns: 70% 15% 15%;
    }
    #title{
        font-size: 3vh;
    }
    #doc{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 12%;
    }
    .icon{
        width: 55px;
        height: 55px;
    }
    .number_task{
        position: absolute;
        right: 5%;
    }
    /* #endregion */
    /* #region Основной блок вкладок */
    .tasks{
        padding: 30px 0px 60px;
        width: 100%;
    }
    .task{
        width: 95%;
        padding: 20px;
    }
    .virt {
        grid-template-columns: 50% 45%;
        height: 398px;
    }
    /* #endregion */
    /*  */
    .moves{
        position: static;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .back{
       display: block;
    }
    .back>a{
        text-decoration: none;
        color: inherit;
        font-family: inherit;
    }
}