:root {
  --main-bg-color: #b9b9b9;
  --main-font-color: #272727;
  --head-line-color: #515151;
  --main-color: #f75a21;
  --first-item: #ff7322;
  --second-item: #f0581c;
  --third-item: #ac3d36;
  --btn-color: #ac3d36;
}
@font-face {
  font-family: "text";
  font-display: swap;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: "title";
  font-display: swap;
  src: url(Montserrat-Bold.ttf);
}

  body {
    background-color: var(--main-bg-color);
    margin: 0px;
    font-family: "text";
  }
  .container {
    display: grid;
    padding-left: 30px;
  }
  .btn {
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    width: max-content;
    color: white;
    padding: 6px;
    font-size: 3vh;
    font-family: "title";
  }
  
  /* #region кнопка На главную */
  .back {
    display: none;
  }
  #back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 12px 6px;
  
    font-size: 120%;
    font-family: "title";
  
    position: absolute;
    left: 0;
    /* top: 250px; */
    top: 40%;
    margin-top: -0.625em;
  
    cursor: pointer;
  
    width: 25px;
    min-height: 125px;
    max-height: max-content;
  
    color: #fff;
  
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
  
    transform: rotate(180deg);
    z-index: 10;
    transition: 0.3s ease;
  }
  #back > a {
    color: white;
    text-decoration: none;
  }
  .back:hover,
  #back:hover,
  .tab-header_btn:hover {
    cursor: pointer;
    background-color: var(--third-item);
  }
  /* #endregion */
  /* #region Заголовок вкладок */
  .head,
  .text {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    font-size: 3vh;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 95% 5% ;
    justify-content: space-between;
    align-items: center;
  }
  #theme {
    margin: 0px;
    color: var(--head-line-color);
  }
  #title {
    margin: 0px;
    font-size: 2.5vh;
  }
  .icon {
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }
  .icon:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .tabs {
    padding: 10px 100px 10px 70px;
    height: 600px;
  }
  
  /* #endregion */
  /* #region основной блок вкладок */
  .tasks {
    display: grid;
    gap: 2%;
    margin: 2%;
    justify-items: center;
    height: 90%;
  }
  .task {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 3vh;
    display: flex;
    width: 50%;
  }
.moves {
  display: flex;
  justify-content: space-between;
  position: static;
  padding-bottom: 15px;
  padding-top: 15px;
}
.tab-header_btn {
  font-family: "text";
}
.tab-body__item {
  display: none;
  /* height: 450px; */
}
.active {
  display: block;
}
.video_lection {
  display: grid;
  justify-items: center;
  align-items: center;
  /* height: 10%; */
  width: 100%;
  padding: 50px 0px 35px 0px;
}
#video {
  width: 100%;
  /* height: 450px; */
  border-radius: 5px;
  margin: 2px;
}
  .virt {
    background-color: white;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 5%;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 85%;
    padding: 30px;
    overflow: scroll;
  }
  /* #region Редактор прокрутки модального окна */
  .virt::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .virt::-webkit-scrollbar-thumb {
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--head-line-color);
  }
  .virt::-webkit-scrollbar-track {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #d5d5d5;
  }
  /* #endregion */
  .main_pic {
    width: 100%;
    height: 80%;
    border-radius: 5px;
  }
  .virt_text {
    margin: 0px;
  }
  /* #endregion */
